page-escanearproducto {
.toolbar-background {
  background-color: #488aff;


}

.toolbar-title{
    color:#fff;
    font-weight:normal;
}

.codigoescaneado{
     text-align:center;
    font-size:25px;
    color:dodgerblue;

}

.codigobarra{
  text-align:center;
   font-size:19px;

}
}