<!--
  Generated template for the Escanearproducto page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Escaner de Productos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        

    <div *ngIf="results">
   
     <br>
     <div  class="codigoescaneado">Codigo de barra :</div>
     <br><br>
     <div  class="codigobarra"><b>{{results.text}}</b></div>
     <div *ngIf="!results.text" class="codigobarra">No se ha escaneado ningun <b>codigo de barra...</b></div>
     <br>
     <button ion-button block color="secondary"  (click)="loadinfoproducto()">Buscar Prueba</button>
     <!--<button ion-button block color="secondary" *ngIf="results.text"  (click)="loadinfoproducto(results)">Buscar</button>-->
     </div>
     <br>

     <button ion-button block color="primary"  (click)="scanBarcode()">Escaner</button>
    

</ion-content>
