page-home {

.toolbar-background {
  background-color: #488aff;


}

.scroll-content{
    background-color: #ECECEC;
}

.toolbar-title{
    color:#fff;
    font-weight:normal;
}

.color-icon{
  color:#fff;
}

.search{


}

.center-text{
    text-align:center;
}

.card{
     
     background:#f2f2f2;
    
}

.card:hover{
     
     background:#DDDDDE;
}

.categorias{
    background:#fff;
   
}

.avatar{
    
    margin-left:10px;
}


}
