page-infoproducto {
.title{
    margin-left: 5px;
}

.back-button{
    color:#fff;
}

.buttons-prod{
    padding:6px;
        background:#f2f2f2;
}


.precio{
    font-size:18px;
    color:cornflowerblue;
}

.prod-descripcion{
    background:#f2f2f2;
}

.toolbar-background {
  background-color: #488aff;


}

.toolbar-title{
    color:#fff;
    font-weight:normal;
}

.center-text{
    text-align:center;
}

.card{
     
     background:#f2f2f2;
    
}

.card:hover{
     
     background:#DDDDDE;
}

}

