page-carrito {
.toolbar-background {
  background-color: #488aff;


}

.info-prod{
      white-space: normal;
}

.item-prod:hover{
      background:#F2f2f2;
}

.toolbar-title{
    color:#fff;
    font-weight:normal;
}
}

